# ADSP 32021
### Autumn 2023
### Group 6 Assignment 1

#### Danil Meresenchi, Ian Vogt, Monica Zhang, Jason Rajan

In [643]:
#from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
import statsmodels.stats.diagnostic as smd
import statsmodels.stats.stattools as sms
from statsmodels.compat import lzip
from statsmodels.tools.eval_measures import rmse
from sklearn.metrics import r2_score

#set pandas options
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 5000)
#pd.set_option('precision', 2)
pd.set_option('mode.chained_assignment', None)
%matplotlib inline
warnings.filterwarnings("ignore")

In [644]:
data= pd.read_csv("athletes.csv")

In [645]:
data.head()

   athlete_id           name               region          team             affiliate gender   age  height  weight   fran  helen  grace  filthy50  fgonebad  run400   run5k  candj  snatch  deadlift  backsq  pullups                                                eat                                              train                                         background                                         experience                                           schedule     howlong
0      2554.0      Pj Ablang           South West   Double Edge  Double Edge CrossFit   Male  24.0    70.0   166.0    NaN    NaN    NaN       NaN       NaN     NaN     NaN  220.0     NaN     400.0   305.0      NaN                                                NaN  I workout mostly at a CrossFit Affiliate|I hav...  I played youth or high school level sports|I r...  I began CrossFit with a coach (e.g. at an affi...         I do multiple workouts in a day 2x a week|   4+ years|
1      3517.0  Derek Abdella                  NaN           NaN                   NaN   Male  42.0    70.0   190.0    NaN    NaN    NaN       NaN       0.0     NaN     NaN    NaN     NaN       NaN     NaN      NaN                                                NaN  I have a coach who determines my programming|I...        I played youth or high school level sports|  I began CrossFit with a coach (e.g. at an affi...         I do multiple workouts in a day 2x a week|   4+ years|
2      4691.0            NaN                  NaN           NaN                   NaN    NaN   NaN     NaN     NaN    NaN    NaN    NaN       NaN       NaN     NaN     NaN    NaN     NaN       NaN     NaN      NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN         NaN
3      5164.0    Abo Brandon  Southern California  LAX CrossFit          LAX CrossFit   Male  40.0    67.0     NaN  211.0  645.0  300.0       NaN     196.0     NaN     NaN  245.0   200.0     375.0   325.0     25.0               I eat 1-3 full cheat meals per week|  I workout mostly at a CrossFit Affiliate|I hav...        I played youth or high school level sports|  I began CrossFit by trying it alone (without a...                 I usually only do 1 workout a day|   4+ years|
4      5286.0    Bryce Abbey                  NaN           NaN                   NaN   Male  32.0    65.0   149.0  206.0  465.0    NaN    1053.0       NaN     NaN  1081.0  205.0   150.0       NaN   325.0     50.0  I eat quality foods but don't measure the amount|  I workout mostly at a CrossFit Affiliate|I inc...                           I played college sports|  I began CrossFit by trying it alone (without a...  I usually only do 1 workout a day|I strictly s...  1-2 years|

In [646]:
data.info(True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423006 entries, 0 to 423005
Data columns (total 27 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   athlete_id  423003 non-null  float64
 1   name        331110 non-null  object
 2   region      251262 non-null  object
 3   team        155160 non-null  object
 4   affiliate   241916 non-null  object
 5   gender      331110 non-null  object
 6   age         331110 non-null  float64
 7   height      159869 non-null  float64
 8   weight      229890 non-null  float64
 9   fran        55426 non-null   float64
 10  helen       30279 non-null   float64
 11  grace       40745 non-null   float64
 12  filthy50    19359 non-null   float64
 13  fgonebad    29738 non-null   float64
 14  run400      22246 non-null   float64
 15  run5k       36097 non-null   float64
 16  candj       104435 non-null  float64
 17  snatch      97280 non-null   float64
 18  deadlift    115323 non-null  float64
 19  backsq      110517 non-null  float64
 20  pullups     50608 non-null   float64
 21  eat         93932 non-null   object
 22  train       105831 non-null  object
 23  background  98945 non-null   object
 24  experience  104936 non-null  object
 25  schedule    97875 non-null   object
 26  howlong     109206 non-null  object
dtypes: float64(16), object(11)
memory usage: 87.1+ MB

In [647]:
#get total number of records
data.shape

(423006, 27)

In [648]:
# Remove not relevant columns
data = data.dropna(subset=['region','age','weight','height','howlong','gender','eat', \
                           'train','background','experience','schedule','howlong', \
                           'deadlift','candj','snatch','backsq','experience',\
                           'background','schedule','howlong'])
data = data.drop(columns=['affiliate','team','name','athlete_id','fran','helen','grace',\
                          'filthy50','fgonebad','run400','run5k','pullups','train'])

In [649]:
data.head()

                 region gender   age  height  weight  candj  snatch  deadlift  backsq                                                eat                                         background                                         experience                                           schedule     howlong
6         South Central   Male  21.0    72.0   175.0    0.0     0.0       0.0     0.0  I eat quality foods but don't measure the amou...    I have no athletic background besides CrossFit|  I began CrossFit with a coach (e.g. at an affi...  I do multiple workouts in a day 3+ times a wee...  2-4 years|
13         Central East   Male  43.0    71.0   185.0    0.0     0.0       0.0     0.0  I eat quality foods but don't measure the amount|    I have no athletic background besides CrossFit|  I began CrossFit with a coach (e.g. at an affi...  I usually only do 1 workout a day|I typically ...  2-4 years|
21  Southern California   Male  30.0    71.0   200.0  235.0   175.0     385.0   315.0                      I eat whatever is convenient|  I played youth or high school level sports|I p...  I began CrossFit by trying it alone (without a...  I do multiple workouts in a day 1x a week|I ty...  1-2 years|
22               Africa   Male  28.0    70.0   176.0  187.0   134.0     335.0   254.0               I eat 1-3 full cheat meals per week|    I have no athletic background besides CrossFit|  I began CrossFit with a coach (e.g. at an affi...         I do multiple workouts in a day 1x a week|  2-4 years|
27           North East   Male  35.0    68.0   225.0  285.0   205.0     440.0   405.0  I eat quality foods but don't measure the amount|        I played youth or high school level sports|  I began CrossFit with a coach (e.g. at an affi...         I typically rest 4 or more days per month|  2-4 years|

In [650]:
data.shape

(32172, 14)

In [651]:
data = data[data['weight'] < 1500]
data = data[data['gender'] != '--']
data = data[data['age'] >= 18]
data = data[(data['height'] < 96) & (data['height'] > 48)]

data = data[(data['deadlift'] > 0) & (data['deadlift'] <= 1105)|((data['gender'] == 'Female') \
             & (data['deadlift'] <= 636))]

data = data[(data['candj'] > 0) & (data['candj'] <= 395)]
data = data[(data['snatch'] > 0) & (data['snatch'] <= 496)]
data = data[(data['backsq'] > 0) & (data['backsq'] <= 1069)]

In [652]:
#Dummy encode eat column
unique_outcomes = set()
for response in data['eat']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"eat_{outcome}"
    data[column_name] = data['eat'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'eat' column if needed
data = data.drop(columns=['eat','eat_'])

In [653]:
#binary encode background column
unique_outcomes = set()
for response in data['background']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"background_{outcome}"
    data[column_name] = data['background'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'background' column if needed
data = data.drop(columns=['background','background_'])

In [654]:
#binary encode experience column
unique_outcomes = set()
for response in data['experience']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"experience_{outcome}"
    data[column_name] = data['experience'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'background' column if needed
data = data.drop(columns=['experience','experience_'])

In [655]:
#binary encode schedule column
unique_outcomes = set()
for response in data['schedule']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"schedule_{outcome}"
    data[column_name] = data['schedule'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'background' column if needed
data = data.drop(columns=['schedule','schedule_'])

In [656]:
#binary encode howlong column
unique_outcomes = set()
for response in data['howlong']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"howlong_{outcome}"
    data[column_name] = data['howlong'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'background' column if needed
data = data.drop(columns=['howlong','howlong_'])

In [657]:
# Creating a region dictionary for maping

region_mapping = {
    # Region 1 Group
    'Africa': 'Region_1',
    'Asia': 'Region_1',
    'Australia': 'Region_1',
    'Latin America': 'Region_1',
    
    # Region 2 Group
    'Canada East': 'Region_2',
    'Canada West': 'Region_2',

    # Region 3 Group
    'Northern California': 'Region_3',
    'Southern California': 'Region_3',
    
    # Region 4 Group
    'Central East': 'Region_4',

    # Region 5 Group
    'Mid Atlantic': 'Region_5',

    # Region 6 Group
    'North Central': 'Region_6',
    'South Central': 'Region_6',

    # Region 7 Group
    'North East': 'Region_7',
    'North West': 'Region_7',

    # Region 8 Group  
    'South East': 'Region_8',
    'South West': 'Region_8',
    
    # Region 9 Group
    'Europe': 'Region_9'
}

# Apply the mapping
data['region'] = data['region'].map(region_mapping)

In [658]:
#encode region and gender
le=LabelEncoder()
data["le_region"] = le.fit_transform(data['region'])
data["le_gender"] = le.fit_transform(data['gender'])

In [659]:
#Lets get the crosswalk for region and gender
data.groupby(['region', 'le_region']).size().reset_index(name='counts')

     region  le_region  counts
0  Region_1          0    3602
1  Region_2          1    1935
2  Region_3          2    3140
3  Region_4          3    2319
4  Region_5          4    2616
5  Region_6          5    5350
6  Region_7          6    4483
7  Region_8          7    4842
8  Region_9          8    2560

In [660]:
data.groupby(['gender', 'le_gender']).size().reset_index(name='counts')

   gender  le_gender  counts
0  Female          0    8446
1    Male          1   22401

In [661]:
#drop unencoded region/gender columns
data = data.drop(columns=['region','gender'])
#calculate our total_lift target value using clean and jerk, snatch,deadlift and backsquat values
data['total_lift'] = data['candj'] + data['snatch'] + data['deadlift'] + data['backsq']

In [662]:
#run eda on cleaned dataset
#profile = ProfileReport(data)
#profile.to_file("athletics_cleaned_profile_output.html")

In [663]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30847 entries, 21 to 422961
Data columns (total 43 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   age                                                                  30847 non-null  float64
 1   height                                                               30847 non-null  float64
 2   weight                                                               30847 non-null  float64
 3   candj                                                                30847 non-null  float64
 4   snatch                                                               30847 non-null  float64
 5   deadlift                                                             30847 non-null  float64
 6   backsq                                                               30847 non-null  float64
 7   eat_I weigh and measure my food                                      30847 non-null  int64
 8   eat_I eat quality foods but don't measure the amount                 30847 non-null  int64
 9   eat_I eat whatever is convenient                                     30847 non-null  int64
 10  eat_I eat 1-3 full cheat meals per week                              30847 non-null  int64
 11  eat_Decline to answer                                                30847 non-null  int64
 12  eat_I eat strict Paleo                                               30847 non-null  int64
 13  background_I played college sports                                   30847 non-null  int64
 14  background_I played professional sports                              30847 non-null  int64
 15  background_I played youth or high school level sports                30847 non-null  int64
 16  background_Decline to answer                                         30847 non-null  int64
 17  background_I regularly play recreational sports                      30847 non-null  int64
 18  background_I have no athletic background besides CrossFit            30847 non-null  int64
 19  experience_I have had a life changing experience due to CrossFit     30847 non-null  int64
 20  experience_I have completed the CrossFit Level 1 certificate course  30847 non-null  int64
 21  experience_I began CrossFit with a coach (e.g. at an affiliate)      30847 non-null  int64
 22  experience_Decline to answer                                         30847 non-null  int64
 23  experience_I began CrossFit by trying it alone (without a coach)     30847 non-null  int64
 24  experience_I have attended one or more specialty courses             30847 non-null  int64
 25  experience_I train other people                                      30847 non-null  int64
 26  schedule_I usually only do 1 workout a day                           30847 non-null  int64
 27  schedule_I do multiple workouts in a day 2x a week                   30847 non-null  int64
 28  schedule_I strictly schedule my rest days                            30847 non-null  int64
 29  schedule_I typically rest fewer than 4 days per month                30847 non-null  int64
 30  schedule_I do multiple workouts in a day 1x a week                   30847 non-null  int64
 31  schedule_I typically rest 4 or more days per month                   30847 non-null  int64
 32  schedule_I do multiple workouts in a day 3+ times a week             30847 non-null  int64
 33  schedule_Decline to answer                                           30847 non-null  int64
 34  howlong_6-12 months                                                  30847 non-null  int64
 35  howlong_2-4 years                                                    30847 non-null  int64
 36  howlong_4+ years                                                     30847 non-null  int64
 37  howlong_Decline to answer                                            30847 non-null  int64
 38  howlong_1-2 years                                                    30847 non-null  int64
 39  howlong_Less than 6 months                                           30847 non-null  int64
 40  le_region                                                            30847 non-null  int32
 41  le_gender                                                            30847 non-null  int32
 42  total_lift                                                           30847 non-null  float64
dtypes: float64(8), int32(2), int64(33)
memory usage: 10.1 MB

In [664]:
# Create a copy of this dataset and call it dataset_v1
dataset_v1 = data.copy()

# Write a new csv for the "uncleaned" version of the dataset
dataset_v1.to_csv('athletes_v1.csv')

In [665]:
# Apply some transformations and feature engineering
# Adding a new domain-specific feature BMI, must round then convert inches to meters and pounds to killograms.
data['BMI'] = round((data['weight'] * 0.453592) / (data['height']*0.0254)**2,1)

# Binning age, height, and weight, region, BMI index
age_bins = [0, 20, 30, 40, 50, 60, 100]
age_labels = ['0-20', '20-30', '30-40', '40-50', '50-60', '60+']  # Adjust labels as needed

height_bins = [0, 60, 65, 70, 75, 80, 100]
height_labels = ['0-60', '60-65', '65-70', '70-75', '75-80', '80+']

weight_bins = [0, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 750]
weight_labels = ['0-100', '100-125', '125-150', '150-175', '175-200', '200-225', '225-250', '250-275', '275-300',
                '300-325', '325-350', '350+']

region_bins = [0,2,5,10]
region_labels = ['0-2','2-5','6+']

BMI_bins = [0,16,20,25,30,35,39,70]
BMI_labels = ['0-16','16-20','20-25','25-30','30-35','35-39','39+']

data['binned_age'] = pd.cut(data['age'], age_bins, labels=age_labels)
data['binned_height'] = pd.cut(data['height'], height_bins, labels=height_labels)
data['binned_weight'] = pd.cut(data['weight'], weight_bins, labels=weight_labels)
data['binned_region'] = pd.cut(data['le_region'], region_bins, labels=region_labels)
data['binned_BMI'] = pd.cut(data['BMI'], BMI_bins, labels=BMI_labels)

#encode new binned variables
le=LabelEncoder()
data["le_binned_age"] = le.fit_transform(data['binned_age'])
data["le_binned_height"] = le.fit_transform(data['binned_height'])
data["le_binned_weight"] = le.fit_transform(data['binned_weight'])
data["le_binned_region"] = le.fit_transform(data['binned_region'])
data["le_binned_BMI"] = le.fit_transform(data['binned_BMI'])

# Multiply height and weight together to capture some interaction effect
data["height_times_weight"] = data["height"] * data["weight"]

# Square age
data["age_squared"] = data["age"] * data["age"]

# Square weight
data["weight_squared"] = data["weight"] * data["weight"]

# Square BMI
data['BMI_squared'] = data['BMI'] * data['BMI']

In [666]:
### !!! Impossible record
data[data['BMI'] == 1]

         age  height  weight  candj  snatch  deadlift  backsq  eat_I weigh and measure my food  eat_I eat quality foods but don't measure the amount  eat_I eat whatever is convenient  eat_I eat 1-3 full cheat meals per week  eat_Decline to answer  eat_I eat strict Paleo  background_I played college sports  background_I played professional sports  background_I played youth or high school level sports  background_Decline to answer  background_I regularly play recreational sports  background_I have no athletic background besides CrossFit  experience_I have had a life changing experience due to CrossFit  experience_I have completed the CrossFit Level 1 certificate course  experience_I began CrossFit with a coach (e.g. at an affiliate)  experience_Decline to answer  experience_I began CrossFit by trying it alone (without a coach)  experience_I have attended one or more specialty courses  experience_I train other people  schedule_I usually only do 1 workout a day  schedule_I do multiple workouts in a day 2x a week  schedule_I strictly schedule my rest days  schedule_I typically rest fewer than 4 days per month  schedule_I do multiple workouts in a day 1x a week  schedule_I typically rest 4 or more days per month  schedule_I do multiple workouts in a day 3+ times a week  schedule_Decline to answer  howlong_6-12 months  howlong_2-4 years  howlong_4+ years  howlong_Decline to answer  howlong_1-2 years  howlong_Less than 6 months  le_region  le_gender  total_lift  BMI binned_age binned_height binned_weight binned_region binned_BMI  le_binned_age  le_binned_height  le_binned_weight  le_binned_region  le_binned_BMI  height_times_weight  age_squared  weight_squared  BMI_squared
251344  47.0    60.0     5.0   95.0    85.0     215.0   225.0                                0                                                  0                                    0                                        1                      0                       0                                   0                                        0                                                  1                                 0                                                0                                                  0                                                          0                                                                 0                                                                    1                                           0                                                  0                                                                 0                                       0                                           0                                                  0                                           0                                                  0                                                      0                                                   0                                                   1                                  0                    1                  0                 0                          0                  0                           0          2          0       620.0  1.0      40-50          0-60         0-100           0-2       0-16              3                 0                 0                 0              0                300.0       2209.0            25.0          1.0

In [667]:
data

         age  height  weight  candj  snatch  deadlift  backsq  eat_I weigh and measure my food  eat_I eat quality foods but don't measure the amount  eat_I eat whatever is convenient  eat_I eat 1-3 full cheat meals per week  eat_Decline to answer  eat_I eat strict Paleo  background_I played college sports  background_I played professional sports  background_I played youth or high school level sports  background_Decline to answer  background_I regularly play recreational sports  background_I have no athletic background besides CrossFit  experience_I have had a life changing experience due to CrossFit  experience_I have completed the CrossFit Level 1 certificate course  experience_I began CrossFit with a coach (e.g. at an affiliate)  experience_Decline to answer  experience_I began CrossFit by trying it alone (without a coach)  experience_I have attended one or more specialty courses  experience_I train other people  schedule_I usually only do 1 workout a day  schedule_I do multiple workouts in a day 2x a week  schedule_I strictly schedule my rest days  schedule_I typically rest fewer than 4 days per month  schedule_I do multiple workouts in a day 1x a week  schedule_I typically rest 4 or more days per month  schedule_I do multiple workouts in a day 3+ times a week  schedule_Decline to answer  howlong_6-12 months  howlong_2-4 years  howlong_4+ years  howlong_Decline to answer  howlong_1-2 years  howlong_Less than 6 months  le_region  le_gender  total_lift   BMI binned_age binned_height binned_weight binned_region binned_BMI  le_binned_age  le_binned_height  le_binned_weight  le_binned_region  le_binned_BMI  height_times_weight  age_squared  weight_squared  BMI_squared
21      30.0    71.0   200.0  235.0   175.0     385.0   315.0                                0                                                  0                                    1                                        0                      0                       0                                   1                                        0                                                  1                                 0                                                1                                                  0                                                          1                                                                 0                                                                    0                                           0                                                  1                                                                 0                                       0                                           0                                                  0                                           0                                                  0                                                      1                                                   1                                                   0                                  0                    0                  0                 0                          0                  1                           0          2          1      1110.0  27.9      20-30         70-75       175-200           0-2      25-30              1                 3                 4                 0              3              14200.0        900.0         40000.0       778.41
22      28.0    70.0   176.0  187.0   134.0     335.0   254.0                                0                                                  0                                    0                                        1                      0                       0                                   0                                        0                                                  0                                 0                                                0                                                  1                                                          1                                                                 0                                                                    1                                           0                                                  0                                                                 0                                       0                                           0                                                  0                                           0                                                  0                                                      1                                                   0                                                   0                                  0                    0                  1                 0                          0                  0                           0          0          1       910.0  25.3      20-30         65-70       175-200           NaN      25-30              1                 2                 4                 3              3              12320.0        784.0         30976.0       640.09
27      35.0    68.0   225.0  285.0   205.0     440.0   405.0                                0                                                  1                                    0                                        0                      0                       0                                   0                                        0                                                  1                                 0                                                0                                                  0                                                          0                                                                 0                                                                    1                                           0                                                  0                                                                 0                                       0                                           0                                                  0                                           0                                                  0                                                      0                                                   1                                                   0                                  0                    0                  1                 0                          0                  0                           0          6          1      1335.0  34.2      30-40         65-70       200-225            6+      30-35              2                 2                 5                 2              4              15300.0       1225.0         50625.0      1169.64
50      36.0    71.0   199.0  267.0   212.0     485.0   390.0                                0                                                  1                                    0                                        0                      0                       0                                   1                                        0                                                  1                                 0                                                0                                                  0                                                          1                                                                 1                                                                    1                                           0                                                  0                                                                 0                                       1                                           0                                                  0                                           1                                                  0                                                      0                                                   1                                                   1                                  0                    0                  0                 0                          0                  1                           0          5          1      1354.0  27.8      30-40         70-75       175-200           2-5      25-30              2                 3                 4                 1              3              14129.0       1296.0         39601.0       772.84
60      36.0    64.0   155.0  245.0   180.0     415.0   385.0                                0                                                  0                                    0                                        0                      0                       1                                   1                                        0                                                  1                                 0                                                1                                                  0                                                          1                                                                 1                                                                    0                                           0                                                  1                                                                 1                                       1                                           0                                                  1                                           1                                                  0                                                      0                                                   1                                                   0                                  0                    0                  0                 1                          0                  0                           0          6          1      1225.0  26.6      30-40         60-65       150-175            6+      25-30              2                 1                 3                 2              3               9920.0       1296.0         24025.0       707.56
...      ...     ...     ...    ...     ...       ...     ...                              ...                                                ...                                  ...                                      ...                    ...                     ...                                 ...                                      ...                                                ...                               ...                                              ...                                                ...                                                        ...                                                               ...                                                                  ...                                         ...                                                ...                                                               ...                                     ...                                         ...                                                ...                                         ...                                                ...                                                    ...                                                 ...                                                 ...                                ...                  ...                ...               ...                        ...                ...                         ...        ...        ...         ...   ...        ...           ...           ...           ...        ...            ...               ...               ...               ...            ...                  ...          ...             ...          ...
422877  25.0    70.0   163.0  175.0   135.0     240.0   220.0                                0                                                  1                                    0                                        1                      0                       0                                   0                                        0                                                  0                                 0                                                0                                                  1                                                          0                                                                 0                                                                    1                                           0                                                  0                                                                 0                                       0                                           0                                                  0                                           0                                                  1                                                      0                                                   0                                                   0                                  0                    0                  0                 0                          0                  1                           0          7          1       770.0  23.4      20-30         65-70       150-175            6+      20-25              1                 2                 3                 2              2              11410.0        625.0         26569.0       547.56
422881  24.0    70.0   174.0  143.0   121.0     351.0   287.0                                0                                                  0                                    0                                        1                      0                       0                                   1                                        0                                                  1                                 0                                                1                                                  0                                                          0                                                                 0                                                                    1                                           0                                                  0                                                                 0                                       0                                           0                                                  0                                           0                                                  0                                                      0                                                   1                                                   0                                  0                    1                  0                 0                          0                  0                           0          0          1       902.0  25.0      20-30         65-70       150-175           NaN      20-25              1                 2                 3                 3              2              12180.0        576.0         30276.0       625.00
422915  25.0    64.0   126.0  110.0    88.0     243.0   176.0                                0                                                  1                                    0                                        0                      0                       0                                   1                                        0                                                  1                                 0                                                1                                                  0                                                          1                                                                 1                                                                    0                                           0                                                  1                                                                 0                                       1                                           1                                                  0                                           0                                                  0                                                      0                                                   1                                                   0                                  0                    0                  0                 0                          0                  0                           1          0          0       617.0  21.6      20-30         60-65       125-150           NaN      20-25              1                 1                 2                 3              2               8064.0        625.0         15876.0       466.56
422923  22.0    72.0   174.0  115.0    95.0     175.0   115.0                                0                                                  1                                    0                                        0                      0                       0                                   1                                        0                                                  1                                 0                                                1                                                  0                                                          0                                                                 0                                                                    1                                           0                                                  0                                                                 0                                       0                                           1                                                  0                                           0                                                  0                                                      0                                                   1                                                   0                                  0                    0                  0                 0                          0                  0                           1          5          0       500.0  23.6      20-30         70-75       150-175           2-5      20-25              1                 3                 3                 1              2              12528.0        484.0         30276.0       556.96

In [668]:
### Display Error to NaN at binned_region 3 to Adress
# nan_rows = data[data['binned_region'].isna()]
# display(nan_rows)

In [669]:
# Create a copy of this dataset and call it dataset_v2
dataset_v2 = data.copy()

# Write a new csv for the "uncleaned" version of the dataset
dataset_v2.to_csv('athletes_v2.csv')

In [670]:
#assign variables for our model
y_v1 = dataset_v1['total_lift']
x_v1 = dataset_v1[['age',
'height',
'weight',
'eat_I eat 1-3 full cheat meals per week',
"eat_I eat quality foods but don't measure the amount",
'eat_I eat strict Paleo',
'eat_Decline to answer',
'eat_I eat whatever is convenient',
'eat_I weigh and measure my food',
'background_I played college sports',
'background_I played youth or high school level sports',
'background_I have no athletic background besides CrossFit',
'background_Decline to answer',
'background_I regularly play recreational sports',
'background_I played professional sports',
'experience_I train other people',
'experience_I have had a life changing experience due to CrossFit',
'experience_I began CrossFit by trying it alone (without a coach)',
'experience_I have completed the CrossFit Level 1 certificate course',
'experience_Decline to answer',
'experience_I began CrossFit with a coach (e.g. at an affiliate)',
'experience_I have attended one or more specialty courses',
'schedule_I do multiple workouts in a day 1x a week',
'schedule_I do multiple workouts in a day 3+ times a week',
'schedule_I do multiple workouts in a day 2x a week',
'schedule_I typically rest fewer than 4 days per month',
'schedule_I strictly schedule my rest days',
'schedule_I typically rest 4 or more days per month',
'schedule_Decline to answer',
'schedule_I usually only do 1 workout a day',
'howlong_4+ years',
'howlong_Less than 6 months',
'howlong_6-12 months',
'howlong_2-4 years',
'howlong_Decline to answer',
'howlong_1-2 years',
'le_region',
'le_gender'
]]

In [671]:
#assign variables for our model
y_v2 = dataset_v2['total_lift']
x_v2 = dataset_v2[['age_squared',
'height',
'weight',
'eat_I eat 1-3 full cheat meals per week',
"eat_I eat quality foods but don't measure the amount",
'eat_I eat strict Paleo',
'eat_Decline to answer',
'eat_I eat whatever is convenient',
'eat_I weigh and measure my food',
'background_I played college sports',
'background_I played youth or high school level sports',
'background_I have no athletic background besides CrossFit',
'background_Decline to answer',
'background_I regularly play recreational sports',
'background_I played professional sports',
'experience_I train other people',
'experience_I have had a life changing experience due to CrossFit',
'experience_I began CrossFit by trying it alone (without a coach)',
'experience_I have completed the CrossFit Level 1 certificate course',
'experience_Decline to answer',
'experience_I began CrossFit with a coach (e.g. at an affiliate)',
'experience_I have attended one or more specialty courses',
'schedule_I do multiple workouts in a day 1x a week',
'schedule_I do multiple workouts in a day 3+ times a week',
'schedule_I do multiple workouts in a day 2x a week',
'schedule_I typically rest fewer than 4 days per month',
'schedule_I strictly schedule my rest days',
'schedule_I typically rest 4 or more days per month',
'schedule_Decline to answer',
'schedule_I usually only do 1 workout a day',
'howlong_4+ years',
'howlong_Less than 6 months',
'howlong_6-12 months',
'howlong_2-4 years',
'howlong_Decline to answer',
'howlong_1-2 years',
'le_region',
'le_gender'
]]

In [672]:
# Split the X and y from dataset v2 into train and test using the same test_size and random_state as before
X_train_v1, X_test_v1, y_train_v1, y_test_v1 = train_test_split(x_v1, y_v1, test_size=0.2, random_state=42)
X_train_v2, X_test_v2, y_train_v2, y_test_v2 = train_test_split(x_v2, y_v2, test_size=0.2, random_state=42)

In [673]:
X_train_v1 = sm.add_constant(X_train_v1)

model_v1 = sm.OLS(y_train_v1,X_train_v1)
results_v1 = model_v1.fit(cov_type="HC0")
#results1 = model1.fit()
#results1 = model1.fit(cov_type='cluster', cov_kwds={'groups': df["tri_nw_dmy"]})

#results = model.fit() #The model then needs to be fitted
print(results_v1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             total_lift   R-squared:                       0.711
Model:                            OLS   Adj. R-squared:                  0.711
Method:                 Least Squares   F-statistic:                     1924.
Date:                Wed, 18 Oct 2023   Prob (F-statistic):               0.00
Time:                        05:57:01   Log-Likelihood:            -1.5858e+05
No. Observations:               24677   AIC:                         3.172e+05
Df Residuals:                   24638   BIC:                         3.175e+05
Df Model:                          38
Covariance Type:                  HC0
=======================================================================================================================================
                                                                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------------------
const                                                                 813.1594     27.218     29.875      0.000     759.812     866.506
age                                                                    -6.8286      0.136    -50.061      0.000      -7.096      -6.561
height                                                                 -6.5901      0.460    -14.313      0.000      -7.493      -5.688
weight                                                                  3.0262      0.069     43.916      0.000       2.891       3.161
eat_I eat 1-3 full cheat meals per week                                 1.4665      2.160      0.679      0.497      -2.767       5.700
eat_I eat quality foods but don't measure the amount                   10.3099      2.962      3.480      0.001       4.504      16.116
eat_I eat strict Paleo                                                -10.7270      3.630     -2.955      0.003     -17.841      -3.613
eat_Decline to answer                                                  -0.6537      9.450     -0.069      0.945     -19.175      17.868
eat_I eat whatever is convenient                                        0.7606      3.007      0.253      0.800      -5.134       6.655
eat_I weigh and measure my food                                        -0.0956      4.159     -0.023      0.982      -8.246       8.055
background_I played college sports                                     48.5346      2.403     20.201      0.000      43.826      53.244
background_I played youth or high school level sports                   1.7828      2.986      0.597      0.550      -4.069       7.635
background_I have no athletic background besides CrossFit             -60.0625      3.913    -15.351      0.000     -67.731     -52.394
background_Decline to answer                                           29.3486     14.867      1.974      0.048       0.209      58.488
background_I regularly play recreational sports                       -12.3163      2.183     -5.643      0.000     -16.594      -8.038
background_I played professional sports                                42.3722      6.113      6.931      0.000      30.390      54.354
experience_I train other people                                        30.4360      3.340      9.112      0.000      23.889      36.983
experience_I have had a life changing experience due to CrossFit      -16.9282      2.117     -7.998      0.000     -21.076     -12.780
experience_I began CrossFit by trying it alone (without a coach)       29.5433      5.126      5.763      0.000      19.496      39.591
experience_I have completed the CrossFit Level 1 certificate course    41.0089      3.139     13.065      0.000      34.857      47.161
experience_Decline to answer                                           55.6156     31.868      1.745      0.081      -6.845     118.076
experience_I began CrossFit with a coach (e.g. at an affiliate)       -13.7986      4.951     -2.787      0.005     -23.502      -4.096
experience_I have attended one or more specialty courses               13.4224      3.054      4.395      0.000       7.437      19.408
schedule_I do multiple workouts in a day 1x a week                     18.9790      3.508      5.411      0.000      12.104      25.854
schedule_I do multiple workouts in a day 3+ times a week               55.0333      3.620     15.203      0.000      47.938      62.128
schedule_I do multiple workouts in a day 2x a week                     41.5360      3.540     11.732      0.000      34.597      48.475
schedule_I typically rest fewer than 4 days per month                  29.8014      3.475      8.575      0.000      22.990      36.613
schedule_I strictly schedule my rest days                              15.7623      2.551      6.178      0.000      10.762      20.762
schedule_I typically rest 4 or more days per month                      1.4117      2.064      0.684      0.494      -2.634       5.458
schedule_Decline to answer                                             27.8396     14.364      1.938      0.053      -0.313      55.992
schedule_I usually only do 1 workout a day                            -17.7283      2.944     -6.023      0.000     -23.498     -11.959
howlong_4+ years                                                      111.6825      7.661     14.578      0.000      96.667     126.698
howlong_Less than 6 months                                            -62.6284      7.970     -7.858      0.000     -78.249     -47.008
howlong_6-12 months                                                   -11.9876      7.207     -1.663      0.096     -26.114       2.139
howlong_2-4 years                                                      88.1382      7.093     12.425      0.000      74.235     102.041
howlong_Decline to answer                                             116.1582     25.349      4.582      0.000      66.475     165.842
howlong_1-2 years                                                      47.0434      6.953      6.766      0.000      33.415      60.672
le_region                                                               1.0013      0.398      2.515      0.012       0.221       1.782
le_gender                                                             331.0317      3.211    103.080      0.000     324.738     337.326
==============================================================================
Omnibus:                     2200.312   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10217.256
Skew:                          -0.324   Prob(JB):                         0.00
Kurtosis:                       6.085   Cond. No.                     5.31e+03
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)
[2] The condition number is large, 5.31e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [674]:
#get RMSE metric for testing sample
X_test_v1 = sm.add_constant(X_test_v1)
ypred_v1 = results_v1.predict(X_test_v1)
rmse_v1 = rmse(y_test_v1, ypred_v1)
print(rmse_v1)
r2_v1 = r2_score(y_test_v1, ypred_v1)
print(r2_v1)

151.1195996312935
0.706529134430423

In [675]:
X_train_v2 = sm.add_constant(X_train_v2)

model_v2 = sm.OLS(y_train_v2,X_train_v2)
results_v2 = model_v2.fit(cov_type="HC0")
#results1 = model1.fit()
#results1 = model1.fit(cov_type='cluster', cov_kwds={'groups': df["tri_nw_dmy"]})

#results = model.fit() #The model then needs to be fitted
print(results_v2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             total_lift   R-squared:                       0.712
Model:                            OLS   Adj. R-squared:                  0.711
Method:                 Least Squares   F-statistic:                     1923.
Date:                Wed, 18 Oct 2023   Prob (F-statistic):               0.00
Time:                        05:57:04   Log-Likelihood:            -1.5857e+05
No. Observations:               24677   AIC:                         3.172e+05
Df Residuals:                   24638   BIC:                         3.175e+05
Df Model:                          38
Covariance Type:                  HC0
=======================================================================================================================================
                                                                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------------------
const                                                                 699.5946     26.792     26.112      0.000     647.082     752.107
age_squared                                                            -0.0973      0.002    -50.634      0.000      -0.101      -0.094
height                                                                 -6.5466      0.460    -14.244      0.000      -7.447      -5.646
weight                                                                  3.0006      0.069     43.762      0.000       2.866       3.135
eat_I eat 1-3 full cheat meals per week                                 0.9878      2.160      0.457      0.647      -3.246       5.221
eat_I eat quality foods but don't measure the amount                   10.5586      2.962      3.564      0.000       4.753      16.365
eat_I eat strict Paleo                                                -10.7765      3.631     -2.968      0.003     -17.893      -3.660
eat_Decline to answer                                                  -1.1204      9.463     -0.118      0.906     -19.668      17.427
eat_I eat whatever is convenient                                        1.8590      3.002      0.619      0.536      -4.026       7.744
eat_I weigh and measure my food                                         0.0337      4.158      0.008      0.994      -8.115       8.183
background_I played college sports                                     48.2132      2.401     20.080      0.000      43.507      52.919
background_I played youth or high school level sports                   2.1898      2.986      0.733      0.463      -3.663       8.043
background_I have no athletic background besides CrossFit             -60.1872      3.914    -15.377      0.000     -67.859     -52.515
background_Decline to answer                                           28.3289     14.858      1.907      0.057      -0.792      57.450
background_I regularly play recreational sports                       -12.3700      2.183     -5.666      0.000     -16.649      -8.091
background_I played professional sports                                41.5519      6.103      6.809      0.000      29.591      53.513
experience_I train other people                                        30.1884      3.339      9.040      0.000      23.643      36.733
experience_I have had a life changing experience due to CrossFit      -16.5206      2.116     -7.807      0.000     -20.668     -12.373
experience_I began CrossFit by trying it alone (without a coach)       29.9030      5.130      5.829      0.000      19.848      39.958
experience_I have completed the CrossFit Level 1 certificate course    40.8459      3.136     13.023      0.000      34.699      46.993
experience_Decline to answer                                           57.1426     31.783      1.798      0.072      -5.150     119.435
experience_I began CrossFit with a coach (e.g. at an affiliate)       -13.6483      4.956     -2.754      0.006     -23.362      -3.934
experience_I have attended one or more specialty courses               12.6324      3.054      4.137      0.000       6.647      18.618
schedule_I do multiple workouts in a day 1x a week                     19.0542      3.508      5.432      0.000      12.179      25.930
schedule_I do multiple workouts in a day 3+ times a week               56.2781      3.616     15.564      0.000      49.191      63.365
schedule_I do multiple workouts in a day 2x a week                     42.1585      3.539     11.911      0.000      35.221      49.096
schedule_I typically rest fewer than 4 days per month                  30.8556      3.473      8.883      0.000      24.048      37.663
schedule_I strictly schedule my rest days                              16.2366      2.548      6.372      0.000      11.243      21.231
schedule_I typically rest 4 or more days per month                      1.5767      2.064      0.764      0.445      -2.469       5.622
schedule_Decline to answer                                             27.7853     14.390      1.931      0.054      -0.419      55.990
schedule_I usually only do 1 workout a day                            -18.0835      2.943     -6.145      0.000     -23.851     -12.316
howlong_4+ years                                                      110.8573      7.651     14.490      0.000      95.862     125.852
howlong_Less than 6 months                                            -61.5365      7.961     -7.729      0.000     -77.140     -45.932
howlong_6-12 months                                                   -11.1286      7.204     -1.545      0.122     -25.248       2.991
howlong_2-4 years                                                      87.7199      7.084     12.383      0.000      73.836     101.604
howlong_Decline to answer                                             116.3338     25.338      4.591      0.000      66.673     165.995
howlong_1-2 years                                                      47.2270      6.947      6.798      0.000      33.612      60.842
le_region                                                               1.0422      0.398      2.619      0.009       0.262       1.822
le_gender                                                             331.5918      3.208    103.369      0.000     325.305     337.879
==============================================================================
Omnibus:                     2196.071   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10177.570
Skew:                          -0.324   Prob(JB):                         0.00
Kurtosis:                       6.079   Cond. No.                     3.27e+04
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)
[2] The condition number is large, 3.27e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [676]:
#get RMSE metric for testing sample
X_test_v2 = sm.add_constant(X_test_v2)
ypred_v2 = results_v2.predict(X_test_v2)
rmse_v2 = rmse(y_test_v2, ypred_v2)
print(rmse_v2)
r2_v2 = r2_score(y_test_v2, ypred_v2)
print(r2_v2)

151.05488793704058
0.7067804179284656