# ADSP 32021
### Autumn 2023
### Group 6 Assignment 1

#### Danil Meresenchi, Ian Vogt, Monica Zhang, Jason Rajan

In [3]:
#from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
import statsmodels.stats.diagnostic as smd
import statsmodels.stats.stattools as sms
from statsmodels.compat import lzip
from statsmodels.tools.eval_measures import rmse
from sklearn.metrics import r2_score

#set pandas options
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 5000)
#pd.set_option('precision', 2)
pd.set_option('mode.chained_assignment', None)
%matplotlib inline
warnings.filterwarnings("ignore")

In [4]:
data= pd.read_csv("athletes.csv")

In [5]:
data.head()

   athlete_id           name               region          team             affiliate gender   age  height  weight   fran  helen  grace  filthy50  fgonebad  run400   run5k  candj  snatch  deadlift  backsq  pullups                                                eat                                              train                                         background                                         experience                                           schedule     howlong
0      2554.0      Pj Ablang           South West   Double Edge  Double Edge CrossFit   Male  24.0    70.0   166.0    NaN    NaN    NaN       NaN       NaN     NaN     NaN  220.0     NaN     400.0   305.0      NaN                                                NaN  I workout mostly at a CrossFit Affiliate|I hav...  I played youth or high school level sports|I r...  I began CrossFit with a coach (e.g. at an affi...         I do multiple workouts in a day 2x a week|   4+ years|
1      3517.0  Derek Abdella                  NaN           NaN                   NaN   Male  42.0    70.0   190.0    NaN    NaN    NaN       NaN       0.0     NaN     NaN    NaN     NaN       NaN     NaN      NaN                                                NaN  I have a coach who determines my programming|I...        I played youth or high school level sports|  I began CrossFit with a coach (e.g. at an affi...         I do multiple workouts in a day 2x a week|   4+ years|
2      4691.0            NaN                  NaN           NaN                   NaN    NaN   NaN     NaN     NaN    NaN    NaN    NaN       NaN       NaN     NaN     NaN    NaN     NaN       NaN     NaN      NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN         NaN
3      5164.0    Abo Brandon  Southern California  LAX CrossFit          LAX CrossFit   Male  40.0    67.0     NaN  211.0  645.0  300.0       NaN     196.0     NaN     NaN  245.0   200.0     375.0   325.0     25.0               I eat 1-3 full cheat meals per week|  I workout mostly at a CrossFit Affiliate|I hav...        I played youth or high school level sports|  I began CrossFit by trying it alone (without a...                 I usually only do 1 workout a day|   4+ years|
4      5286.0    Bryce Abbey                  NaN           NaN                   NaN   Male  32.0    65.0   149.0  206.0  465.0    NaN    1053.0       NaN     NaN  1081.0  205.0   150.0       NaN   325.0     50.0  I eat quality foods but don't measure the amount|  I workout mostly at a CrossFit Affiliate|I inc...                           I played college sports|  I began CrossFit by trying it alone (without a...  I usually only do 1 workout a day|I strictly s...  1-2 years|

In [6]:
data.info(True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423006 entries, 0 to 423005
Data columns (total 27 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   athlete_id  423003 non-null  float64
 1   name        331110 non-null  object
 2   region      251262 non-null  object
 3   team        155160 non-null  object
 4   affiliate   241916 non-null  object
 5   gender      331110 non-null  object
 6   age         331110 non-null  float64
 7   height      159869 non-null  float64
 8   weight      229890 non-null  float64
 9   fran        55426 non-null   float64
 10  helen       30279 non-null   float64
 11  grace       40745 non-null   float64
 12  filthy50    19359 non-null   float64
 13  fgonebad    29738 non-null   float64
 14  run400      22246 non-null   float64
 15  run5k       36097 non-null   float64
 16  candj       104435 non-null  float64
 17  snatch      97280 non-null   float64
 18  deadlift    115323 non-null  float64
 19  backsq      110517 non-null  float64
 20  pullups     50608 non-null   float64
 21  eat         93932 non-null   object
 22  train       105831 non-null  object
 23  background  98945 non-null   object
 24  experience  104936 non-null  object
 25  schedule    97875 non-null   object
 26  howlong     109206 non-null  object
dtypes: float64(16), object(11)
memory usage: 87.1+ MB

In [7]:
#get total number of records
data.shape

(423006, 27)

In [8]:
# Remove not relevant columns
data = data.dropna(subset=['region','age','weight','height','howlong','gender','eat', \
                           'train','background','experience','schedule','howlong', \
                           'deadlift','candj','snatch','backsq','experience',\
                           'background','schedule','howlong'])
data = data.drop(columns=['affiliate','team','name','athlete_id','fran','helen','grace',\
                          'filthy50','fgonebad','run400','run5k','pullups','train'])

In [9]:
data.head()

                 region gender   age  height  weight  candj  snatch  deadlift  backsq                                                eat                                         background                                         experience                                           schedule     howlong
6         South Central   Male  21.0    72.0   175.0    0.0     0.0       0.0     0.0  I eat quality foods but don't measure the amou...    I have no athletic background besides CrossFit|  I began CrossFit with a coach (e.g. at an affi...  I do multiple workouts in a day 3+ times a wee...  2-4 years|
13         Central East   Male  43.0    71.0   185.0    0.0     0.0       0.0     0.0  I eat quality foods but don't measure the amount|    I have no athletic background besides CrossFit|  I began CrossFit with a coach (e.g. at an affi...  I usually only do 1 workout a day|I typically ...  2-4 years|
21  Southern California   Male  30.0    71.0   200.0  235.0   175.0     385.0   315.0                      I eat whatever is convenient|  I played youth or high school level sports|I p...  I began CrossFit by trying it alone (without a...  I do multiple workouts in a day 1x a week|I ty...  1-2 years|
22               Africa   Male  28.0    70.0   176.0  187.0   134.0     335.0   254.0               I eat 1-3 full cheat meals per week|    I have no athletic background besides CrossFit|  I began CrossFit with a coach (e.g. at an affi...         I do multiple workouts in a day 1x a week|  2-4 years|
27           North East   Male  35.0    68.0   225.0  285.0   205.0     440.0   405.0  I eat quality foods but don't measure the amount|        I played youth or high school level sports|  I began CrossFit with a coach (e.g. at an affi...         I typically rest 4 or more days per month|  2-4 years|

In [10]:
data.shape

(32172, 14)

In [11]:
data = data[data['weight'] < 1500]
data = data[data['gender'] != '--']
data = data[data['age'] >= 18]
data = data[(data['height'] < 96) & (data['height'] > 48)]

data = data[(data['deadlift'] > 0) & (data['deadlift'] <= 1105)|((data['gender'] == 'Female') \
             & (data['deadlift'] <= 636))]

data = data[(data['candj'] > 0) & (data['candj'] <= 395)]
data = data[(data['snatch'] > 0) & (data['snatch'] <= 496)]
data = data[(data['backsq'] > 0) & (data['backsq'] <= 1069)]

In [12]:
#Dummy encode eat column
unique_outcomes = set()
for response in data['eat']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"eat_{outcome}"
    data[column_name] = data['eat'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'eat' column if needed
data = data.drop(columns=['eat','eat_'])

In [13]:
#binary encode background column
unique_outcomes = set()
for response in data['background']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"background_{outcome}"
    data[column_name] = data['background'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'background' column if needed
data = data.drop(columns=['background','background_'])

In [14]:
#binary encode experience column
unique_outcomes = set()
for response in data['experience']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"experience_{outcome}"
    data[column_name] = data['experience'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'background' column if needed
data = data.drop(columns=['experience','experience_'])

In [15]:
#binary encode schedule column
unique_outcomes = set()
for response in data['schedule']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"schedule_{outcome}"
    data[column_name] = data['schedule'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'background' column if needed
data = data.drop(columns=['schedule','schedule_'])

In [16]:
#binary encode howlong column
unique_outcomes = set()
for response in data['howlong']:
    if '|' in response:
        outcomes = [outcome.strip() for outcome in response.split('|')]
        unique_outcomes.update(outcomes)
    else:
        unique_outcomes.add(response)

#Create columns for each unique outcome and dummy encode
for outcome in unique_outcomes:
    column_name = f"howlong_{outcome}"
    data[column_name] = data['howlong'].apply(lambda x: 1 if str(outcome) in str(x) else 0)

#Drop the original 'background' column if needed
data = data.drop(columns=['howlong','howlong_'])

In [17]:
#encode region and gender
le=LabelEncoder()
data["le_region"] = le.fit_transform(data['region'])
data["le_gender"] = le.fit_transform(data['gender'])

In [18]:
#Lets get the crosswalk for region and gender
data.groupby(['region', 'le_region']).size().reset_index(name='counts')

                 region  le_region  counts
0                Africa          0     494
1                  Asia          1     336
2             Australia          2    1724
3           Canada East          3    1197
4           Canada West          4     738
5          Central East          5    2319
6                Europe          6    2560
7         Latin America          7    1048
8          Mid Atlantic          8    2616
9         North Central          9    2824
10           North East         10    2990
11           North West         11    1493
12  Northern California         12    1422
13        South Central         13    2526
14           South East         14    3056
15           South West         15    1786
16  Southern California         16    1718

In [19]:
data.groupby(['gender', 'le_gender']).size().reset_index(name='counts')

   gender  le_gender  counts
0  Female          0    8446
1    Male          1   22401

In [20]:
#drop unencoded region/gender columns
data = data.drop(columns=['region','gender'])
#calculate our total_lift target value using clean and jerk, snatch,deadlift and backsquat values
data['total_lift'] = data['candj'] + data['snatch'] + data['deadlift'] + data['backsq']

In [19]:
#run eda on cleaned dataset
#profile = ProfileReport(data)
#profile.to_file("athletics_cleaned_profile_output.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30847 entries, 21 to 422961
Data columns (total 43 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   age                                                                  30847 non-null  float64
 1   height                                                               30847 non-null  float64
 2   weight                                                               30847 non-null  float64
 3   candj                                                                30847 non-null  float64
 4   snatch                                                               30847 non-null  float64
 5   deadlift                                                             30847 non-null  float64
 6   backsq                                                               30847 non-null  float64
 7   eat_Decline to answer                                                30847 non-null  int64
 8   eat_I eat quality foods but don't measure the amount                 30847 non-null  int64
 9   eat_I weigh and measure my food                                      30847 non-null  int64
 10  eat_I eat whatever is convenient                                     30847 non-null  int64
 11  eat_I eat 1-3 full cheat meals per week                              30847 non-null  int64
 12  eat_I eat strict Paleo                                               30847 non-null  int64
 13  background_I played college sports                                   30847 non-null  int64
 14  background_Decline to answer                                         30847 non-null  int64
 15  background_I played youth or high school level sports                30847 non-null  int64
 16  background_I played professional sports                              30847 non-null  int64
 17  background_I regularly play recreational sports                      30847 non-null  int64
 18  background_I have no athletic background besides CrossFit            30847 non-null  int64
 19  experience_Decline to answer                                         30847 non-null  int64
 20  experience_I have completed the CrossFit Level 1 certificate course  30847 non-null  int64
 21  experience_I began CrossFit with a coach (e.g. at an affiliate)      30847 non-null  int64
 22  experience_I have had a life changing experience due to CrossFit     30847 non-null  int64
 23  experience_I train other people                                      30847 non-null  int64
 24  experience_I began CrossFit by trying it alone (without a coach)     30847 non-null  int64
 25  experience_I have attended one or more specialty courses             30847 non-null  int64
 26  schedule_Decline to answer                                           30847 non-null  int64
 27  schedule_I typically rest fewer than 4 days per month                30847 non-null  int64
 28  schedule_I do multiple workouts in a day 1x a week                   30847 non-null  int64
 29  schedule_I usually only do 1 workout a day                           30847 non-null  int64
 30  schedule_I strictly schedule my rest days                            30847 non-null  int64
 31  schedule_I typically rest 4 or more days per month                   30847 non-null  int64
 32  schedule_I do multiple workouts in a day 3+ times a week             30847 non-null  int64
 33  schedule_I do multiple workouts in a day 2x a week                   30847 non-null  int64
 34  howlong_Decline to answer                                            30847 non-null  int64
 35  howlong_2-4 years                                                    30847 non-null  int64
 36  howlong_6-12 months                                                  30847 non-null  int64
 37  howlong_4+ years                                                     30847 non-null  int64
 38  howlong_1-2 years                                                    30847 non-null  int64
 39  howlong_Less than 6 months                                           30847 non-null  int64
 40  le_region                                                            30847 non-null  int32
 41  le_gender                                                            30847 non-null  int32
 42  total_lift                                                           30847 non-null  float64
dtypes: float64(8), int32(2), int64(33)
memory usage: 10.1 MB

In [ ]:
# Create a copy of this dataset and call it dataset_v1
dataset_v1 = data.copy()

# Write a new csv for the "uncleaned" version of the dataset
dataset_v1.to_csv('athletes_v1.csv')

In [110]:
# Apply some transformations and feature engineering
# Binning age, height, and weight
age_bins = [0, 20, 30, 40, 50, 60, 100]
age_labels = ['0-20', '20-30', '30-40', '40-50', '50-60', '60+']  # Adjust labels as needed

height_bins = [0, 60, 65, 70, 75, 80, 100]
height_labels = ['0-60', '60-65', '65-70', '70-75', '75-80', '80+']

weight_bins = [0, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 750]
weight_labels = ['0-100', '100-125', '125-150', '150-175', '175-200', '200-225', '225-250', '250-275', '275-300',
                '300-325', '325-350', '350+']

data['binned_age'] = pd.cut(data['age'], age_bins, labels=age_labels)
data['binned_height'] = pd.cut(data['height'], height_bins, labels=height_labels)
data['binned_weight'] = pd.cut(data['weight'], weight_bins, labels=weight_labels)

#encode new binned variables
le=LabelEncoder()
data["le_binned_age"] = le.fit_transform(data['binned_age'])
data["le_binned_height"] = le.fit_transform(data['binned_height'])
data["le_binned_weight"] = le.fit_transform(data['binned_weight'])

# Multiply height and weight together to capture some interaction effect
data["height_times_weight"] = data["height"] * data["weight"]

# Square age
data["age_squared"] = data["age"] * data["age"]

# Square weight
data["weight_squared"] = data["weight"] * data["weight"]

In [90]:
data

         age  height  weight  candj  snatch  deadlift  backsq  eat_Decline to answer  eat_I eat quality foods but don't measure the amount  eat_I weigh and measure my food  eat_I eat whatever is convenient  eat_I eat 1-3 full cheat meals per week  eat_I eat strict Paleo  background_I played college sports  background_Decline to answer  background_I played youth or high school level sports  background_I played professional sports  background_I regularly play recreational sports  background_I have no athletic background besides CrossFit  experience_Decline to answer  experience_I have completed the CrossFit Level 1 certificate course  experience_I began CrossFit with a coach (e.g. at an affiliate)  experience_I have had a life changing experience due to CrossFit  experience_I train other people  experience_I began CrossFit by trying it alone (without a coach)  experience_I have attended one or more specialty courses  schedule_Decline to answer  schedule_I typically rest fewer than 4 days per month  schedule_I do multiple workouts in a day 1x a week  schedule_I usually only do 1 workout a day  schedule_I strictly schedule my rest days  schedule_I typically rest 4 or more days per month  schedule_I do multiple workouts in a day 3+ times a week  schedule_I do multiple workouts in a day 2x a week  howlong_Decline to answer  howlong_2-4 years  howlong_6-12 months  howlong_4+ years  howlong_1-2 years  howlong_Less than 6 months  le_region  le_gender  total_lift binned_age binned_height binned_weight  le_binned_aged  le_binned_height  le_binned_weight  height_times_weight  le_binned_age  age_squared
21      30.0    71.0   200.0  235.0   175.0     385.0   315.0                      0                                                  0                                   0                                 1                                        0                       0                                   1                             0                                                  1                                            0                                                1                                                  0                                     0                                                  0                                                                    0                                                                1                                               0                                                  1                                                                 0                                  0                                                  0                                                      1                                            0                                          0                                                  1                                                   0                                                         0                           0                  0                    0                 0                  1                           0         16          1      1110.0      20-30         70-75       175-200               1                 3                 4              14200.0              1        900.0
22      28.0    70.0   176.0  187.0   134.0     335.0   254.0                      0                                                  0                                   0                                 0                                        1                       0                                   0                             0                                                  0                                            0                                                0                                                  1                                     0                                                  0                                                                    1                                                                1                                               0                                                  0                                                                 0                                  0                                                  0                                                      1                                            0                                          0                                                  0                                                   0                                                         0                           0                  1                    0                 0                  0                           0          0          1       910.0      20-30         65-70       175-200               1                 2                 4              12320.0              1        784.0
27      35.0    68.0   225.0  285.0   205.0     440.0   405.0                      0                                                  1                                   0                                 0                                        0                       0                                   0                             0                                                  1                                            0                                                0                                                  0                                     0                                                  0                                                                    1                                                                0                                               0                                                  0                                                                 0                                  0                                                  0                                                      0                                            0                                          0                                                  1                                                   0                                                         0                           0                  1                    0                 0                  0                           0         10          1      1335.0      30-40         65-70       200-225               2                 2                 5              15300.0              2       1225.0
50      36.0    71.0   199.0  267.0   212.0     485.0   390.0                      0                                                  1                                   0                                 0                                        0                       0                                   1                             0                                                  1                                            0                                                0                                                  0                                     0                                                  1                                                                    1                                                                1                                               1                                                  0                                                                 0                                  0                                                  0                                                      0                                            0                                          1                                                  1                                                   1                                                         0                           0                  0                    0                 0                  1                           0          9          1      1354.0      30-40         70-75       175-200               2                 3                 4              14129.0              2       1296.0
60      36.0    64.0   155.0  245.0   180.0     415.0   385.0                      0                                                  0                                   0                                 0                                        0                       1                                   1                             0                                                  1                                            0                                                1                                                  0                                     0                                                  1                                                                    0                                                                1                                               1                                                  1                                                                 1                                  0                                                  0                                                      0                                            0                                          1                                                  1                                                   0                                                         1                           0                  0                    0                 1                  0                           0         10          1      1225.0      30-40         60-65       150-175               2                 1                 3               9920.0              2       1296.0
...      ...     ...     ...    ...     ...       ...     ...                    ...                                                ...                                 ...                               ...                                      ...                     ...                                 ...                           ...                                                ...                                          ...                                              ...                                                ...                                   ...                                                ...                                                                  ...                                                              ...                                             ...                                                ...                                                               ...                                ...                                                ...                                                    ...                                          ...                                        ...                                                ...                                                 ...                                                       ...                         ...                ...                  ...               ...                ...                         ...        ...        ...         ...        ...           ...           ...             ...               ...               ...                  ...            ...          ...
422877  25.0    70.0   163.0  175.0   135.0     240.0   220.0                      0                                                  1                                   0                                 0                                        1                       0                                   0                             0                                                  0                                            0                                                0                                                  1                                     0                                                  0                                                                    1                                                                0                                               0                                                  0                                                                 0                                  0                                                  1                                                      0                                            0                                          0                                                  0                                                   0                                                         0                           0                  0                    0                 0                  1                           0         15          1       770.0      20-30         65-70       150-175               1                 2                 3              11410.0              1        625.0
422881  24.0    70.0   174.0  143.0   121.0     351.0   287.0                      0                                                  0                                   0                                 0                                        1                       0                                   1                             0                                                  1                                            0                                                1                                                  0                                     0                                                  0                                                                    1                                                                0                                               0                                                  0                                                                 0                                  0                                                  0                                                      0                                            0                                          0                                                  1                                                   0                                                         0                           0                  0                    1                 0                  0                           0          2          1       902.0      20-30         65-70       150-175               1                 2                 3              12180.0              1        576.0
422915  25.0    64.0   126.0  110.0    88.0     243.0   176.0                      0                                                  1                                   0                                 0                                        0                       0                                   1                             0                                                  1                                            0                                                1                                                  0                                     0                                                  1                                                                    0                                                                1                                               1                                                  1                                                                 0                                  0                                                  0                                                      0                                            1                                          0                                                  1                                                   0                                                         0                           0                  0                    0                 0                  0                           1          7          0       617.0      20-30         60-65       125-150               1                 1                 2               8064.0              1        625.0
422923  22.0    72.0   174.0  115.0    95.0     175.0   115.0                      0                                                  1                                   0                                 0                                        0                       0                                   1                             0                                                  1                                            0                                                1                                                  0                                     0                                                  0                                                                    1                                                                0                                               0                                                  0                                                                 0                                  0                                                  0                                                      0                                            1                                          0                                                  1                                                   0                                                         0                           0                  0                    0                 0                  0                           1          9          0       500.0      20-30         70-75       150-175               1                 3                 3              12528.0              1        484.0
422961  19.0    60.0   145.0  133.0    93.0     240.0   173.0                      0                                                  0                                   0                                 1                                        1                       0                                   1                             0                                                  1                                            0                                                0                                                  0                                     0                                                  0                                                                    1                                                                1                                               0                                                  0                                                                 0                                  0                                                  0                                                      0                                            1                                          0                                                  1                                                   0                                                         0                           0                  0                    0                 0                  1                           0          5          0       639.0       0-20          0-60       125-150               0                 0                 2               8700.0              0        361.0

[30847 rows x 52 columns]

In [ ]:
# Create a copy of this dataset and call it dataset_v2
dataset_v2 = data.copy()

# Write a new csv for the "uncleaned" version of the dataset
dataset_v2.to_csv('athletes_v2.csv')

In [111]:
#assign variables for our model
y_v1 = dataset_v1['total_lift']
x_v1 = dataset_v1[['age',
'height',
'weight',
'eat_I eat 1-3 full cheat meals per week',
"eat_I eat quality foods but don't measure the amount",
'eat_I eat strict Paleo',
'eat_Decline to answer',
'eat_I eat whatever is convenient',
'eat_I weigh and measure my food',
'background_I played college sports',
'background_I played youth or high school level sports',
'background_I have no athletic background besides CrossFit',
'background_Decline to answer',
'background_I regularly play recreational sports',
'background_I played professional sports',
'experience_I train other people',
'experience_I have had a life changing experience due to CrossFit',
'experience_I began CrossFit by trying it alone (without a coach)',
'experience_I have completed the CrossFit Level 1 certificate course',
'experience_Decline to answer',
'experience_I began CrossFit with a coach (e.g. at an affiliate)',
'experience_I have attended one or more specialty courses',
'schedule_I do multiple workouts in a day 1x a week',
'schedule_I do multiple workouts in a day 3+ times a week',
'schedule_I do multiple workouts in a day 2x a week',
'schedule_I typically rest fewer than 4 days per month',
'schedule_I strictly schedule my rest days',
'schedule_I typically rest 4 or more days per month',
'schedule_Decline to answer',
'schedule_I usually only do 1 workout a day',
'howlong_4+ years',
'howlong_Less than 6 months',
'howlong_6-12 months',
'howlong_2-4 years',
'howlong_Decline to answer',
'howlong_1-2 years',
'le_region',
'le_gender'
]]

In [112]:
#assign variables for our model
y_v2 = dataset_v2['total_lift']
x_v2 = dataset_v2[['age_squared',
'height',
'weight',
'eat_I eat 1-3 full cheat meals per week',
"eat_I eat quality foods but don't measure the amount",
'eat_I eat strict Paleo',
'eat_Decline to answer',
'eat_I eat whatever is convenient',
'eat_I weigh and measure my food',
'background_I played college sports',
'background_I played youth or high school level sports',
'background_I have no athletic background besides CrossFit',
'background_Decline to answer',
'background_I regularly play recreational sports',
'background_I played professional sports',
'experience_I train other people',
'experience_I have had a life changing experience due to CrossFit',
'experience_I began CrossFit by trying it alone (without a coach)',
'experience_I have completed the CrossFit Level 1 certificate course',
'experience_Decline to answer',
'experience_I began CrossFit with a coach (e.g. at an affiliate)',
'experience_I have attended one or more specialty courses',
'schedule_I do multiple workouts in a day 1x a week',
'schedule_I do multiple workouts in a day 3+ times a week',
'schedule_I do multiple workouts in a day 2x a week',
'schedule_I typically rest fewer than 4 days per month',
'schedule_I strictly schedule my rest days',
'schedule_I typically rest 4 or more days per month',
'schedule_Decline to answer',
'schedule_I usually only do 1 workout a day',
'howlong_4+ years',
'howlong_Less than 6 months',
'howlong_6-12 months',
'howlong_2-4 years',
'howlong_Decline to answer',
'howlong_1-2 years',
'le_region',
'le_gender'
]]

In [113]:
# Split the X and y from dataset v2 into train and test using the same test_size and random_state as before
X_train_v1, X_test_v1, y_train_v1, y_test_v1 = train_test_split(x_v1, y_v1, test_size=0.2, random_state=42)
X_train_v2, X_test_v2, y_train_v2, y_test_v2 = train_test_split(x_v2, y_v2, test_size=0.2, random_state=42)

In [114]:
X_train_v1 = sm.add_constant(X_train_v1)

model_v1 = sm.OLS(y_train_v1,X_train_v1)
results_v1 = model_v1.fit(cov_type="HC0")
#results1 = model1.fit()
#results1 = model1.fit(cov_type='cluster', cov_kwds={'groups': df["tri_nw_dmy"]})

#results = model.fit() #The model then needs to be fitted
print(results_v1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             total_lift   R-squared:                       0.712
Model:                            OLS   Adj. R-squared:                  0.712
Method:                 Least Squares   F-statistic:                     1928.
Date:                Tue, 17 Oct 2023   Prob (F-statistic):               0.00
Time:                        16:33:51   Log-Likelihood:            -1.5855e+05
No. Observations:               24677   AIC:                         3.172e+05
Df Residuals:                   24638   BIC:                         3.175e+05
Df Model:                          38
Covariance Type:                  HC0
=======================================================================================================================================
                                                                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------------------
const                                                                 794.8625     27.264     29.154      0.000     741.426     848.299
age                                                                    -6.8810      0.137    -50.398      0.000      -7.149      -6.613
height                                                                 -6.3995      0.461    -13.891      0.000      -7.302      -5.497
weight                                                                  3.0088      0.069     43.660      0.000       2.874       3.144
eat_I eat 1-3 full cheat meals per week                                 0.8963      2.157      0.416      0.678      -3.330       5.123
eat_I eat quality foods but don't measure the amount                   10.4661      2.959      3.537      0.000       4.666      16.266
eat_I eat strict Paleo                                                -11.2422      3.626     -3.100      0.002     -18.350      -4.134
eat_Decline to answer                                                  -1.9252      9.402     -0.205      0.838     -20.352      16.502
eat_I eat whatever is convenient                                        0.8583      3.002      0.286      0.775      -5.026       6.742
eat_I weigh and measure my food                                         0.1136      4.158      0.027      0.978      -8.035       8.262
background_I played college sports                                     47.8952      2.400     19.954      0.000      43.191      52.600
background_I played youth or high school level sports                   0.4611      2.991      0.154      0.877      -5.401       6.323
background_I have no athletic background besides CrossFit             -59.8756      3.913    -15.303      0.000     -67.545     -52.207
background_Decline to answer                                           30.3733     14.852      2.045      0.041       1.264      59.483
background_I regularly play recreational sports                       -11.5077      2.178     -5.283      0.000     -15.777      -7.238
background_I played professional sports                                44.8189      6.124      7.319      0.000      32.817      56.821
experience_I train other people                                        30.5728      3.339      9.156      0.000      24.028      37.117
experience_I have had a life changing experience due to CrossFit      -17.1566      2.114     -8.115      0.000     -21.300     -13.013
experience_I began CrossFit by trying it alone (without a coach)       29.9768      5.115      5.861      0.000      19.952      40.002
experience_I have completed the CrossFit Level 1 certificate course    40.8630      3.140     13.013      0.000      34.708      47.018
experience_Decline to answer                                           55.1530     31.790      1.735      0.083      -7.154     117.460
experience_I began CrossFit with a coach (e.g. at an affiliate)       -14.1418      4.942     -2.862      0.004     -23.827      -4.456
experience_I have attended one or more specialty courses               13.7707      3.051      4.514      0.000       7.791      19.750
schedule_I do multiple workouts in a day 1x a week                     18.4101      3.505      5.252      0.000      11.539      25.281
schedule_I do multiple workouts in a day 3+ times a week               54.2516      3.618     14.996      0.000      47.161      61.342
schedule_I do multiple workouts in a day 2x a week                     40.4787      3.542     11.427      0.000      33.536      47.422
schedule_I typically rest fewer than 4 days per month                  29.3671      3.472      8.457      0.000      22.561      36.173
schedule_I strictly schedule my rest days                              15.9372      2.549      6.253      0.000      10.942      20.932
schedule_I typically rest 4 or more days per month                      1.4998      2.062      0.727      0.467      -2.541       5.541
schedule_Decline to answer                                             27.7800     14.306      1.942      0.052      -0.260      55.820
schedule_I usually only do 1 workout a day                            -18.0245      2.941     -6.129      0.000     -23.788     -12.261
howlong_4+ years                                                      109.9634      7.641     14.391      0.000      94.987     124.939
howlong_Less than 6 months                                            -62.3873      7.951     -7.847      0.000     -77.971     -46.804
howlong_6-12 months                                                   -12.1147      7.194     -1.684      0.092     -26.215       1.986
howlong_2-4 years                                                      87.0827      7.077     12.305      0.000      73.212     100.953
howlong_Decline to answer                                             114.6466     25.312      4.529      0.000      65.035     164.258
howlong_1-2 years                                                      46.6874      6.939      6.729      0.000      33.088      60.287
le_region                                                               1.7835      0.231      7.727      0.000       1.331       2.236
le_gender                                                             331.0684      3.212    103.059      0.000     324.772     337.365
==============================================================================
Omnibus:                     2192.147   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10219.058
Skew:                          -0.320   Prob(JB):                         0.00
Kurtosis:                       6.087   Cond. No.                     5.33e+03
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)
[2] The condition number is large, 5.33e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [123]:
#get RMSE metric for testing sample
X_test_v1 = sm.add_constant(X_test_v1)
ypred_v1 = results_v1.predict(X_test_v1)
rmse_v1 = rmse(y_test_v1, ypred_v1)
print(rmse_v1)
r2_v1 = r2_score(y_test_v1, ypred_v1)
print(r2_v1)

151.0584517877089
0.7067665818567557

In [116]:
X_train_v2 = sm.add_constant(X_train_v2)

model_v2 = sm.OLS(y_train_v2,X_train_v2)
results_v2 = model_v2.fit(cov_type="HC0")
#results1 = model1.fit()
#results1 = model1.fit(cov_type='cluster', cov_kwds={'groups': df["tri_nw_dmy"]})

#results = model.fit() #The model then needs to be fitted
print(results_v2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             total_lift   R-squared:                       0.707
Model:                            OLS   Adj. R-squared:                  0.707
Method:                 Least Squares   F-statistic:                     1872.
Date:                Tue, 17 Oct 2023   Prob (F-statistic):               0.00
Time:                        16:33:55   Log-Likelihood:            -1.5876e+05
No. Observations:               24677   AIC:                         3.176e+05
Df Residuals:                   24638   BIC:                         3.179e+05
Df Model:                          38
Covariance Type:                  HC0
=======================================================================================================================================
                                                                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------------------------
const                                                                 852.0117     31.885     26.721      0.000     789.518     914.505
age_squared                                                            -0.0972      0.002    -50.070      0.000      -0.101      -0.093
height                                                                 -4.7807      0.508     -9.403      0.000      -5.777      -3.784
weight_squared                                                          0.0071      0.000     29.201      0.000       0.007       0.008
eat_I eat 1-3 full cheat meals per week                                 1.0601      2.180      0.486      0.627      -3.212       5.333
eat_I eat quality foods but don't measure the amount                   11.1257      2.982      3.731      0.000       5.281      16.970
eat_I eat strict Paleo                                                -10.8388      3.641     -2.977      0.003     -17.975      -3.702
eat_Decline to answer                                                  -0.5118      9.404     -0.054      0.957     -18.943      17.919
eat_I eat whatever is convenient                                        1.4589      3.018      0.483      0.629      -4.457       7.375
eat_I weigh and measure my food                                         1.9624      4.193      0.468      0.640      -6.256      10.181
background_I played college sports                                     48.2159      2.430     19.843      0.000      43.453      52.978
background_I played youth or high school level sports                   2.0149      3.028      0.665      0.506      -3.920       7.950
background_I have no athletic background besides CrossFit             -59.8105      3.946    -15.159      0.000     -67.544     -52.077
background_Decline to answer                                           28.3936     14.777      1.921      0.055      -0.569      57.356
background_I regularly play recreational sports                       -11.8364      2.203     -5.373      0.000     -16.154      -7.518
background_I played professional sports                                42.3759      6.168      6.870      0.000      30.286      54.465
experience_I train other people                                        30.8376      3.366      9.162      0.000      24.240      37.435
experience_I have had a life changing experience due to CrossFit      -16.3743      2.133     -7.676      0.000     -20.555     -12.193
experience_I began CrossFit by trying it alone (without a coach)       30.6290      5.150      5.947      0.000      20.535      40.723
experience_I have completed the CrossFit Level 1 certificate course    40.2647      3.162     12.736      0.000      34.068      46.461
experience_Decline to answer                                           56.7165     31.744      1.787      0.074      -5.501     118.934
experience_I began CrossFit with a coach (e.g. at an affiliate)       -14.2090      4.982     -2.852      0.004     -23.973      -4.445
experience_I have attended one or more specialty courses               12.7819      3.075      4.157      0.000       6.755      18.808
schedule_I do multiple workouts in a day 1x a week                     18.5634      3.537      5.249      0.000      11.632      25.495
schedule_I do multiple workouts in a day 3+ times a week               56.1752      3.660     15.346      0.000      49.001      63.350
schedule_I do multiple workouts in a day 2x a week                     41.8493      3.575     11.707      0.000      34.843      48.856
schedule_I typically rest fewer than 4 days per month                  30.6686      3.491      8.786      0.000      23.827      37.510
schedule_I strictly schedule my rest days                              16.4111      2.569      6.389      0.000      11.377      21.446
schedule_I typically rest 4 or more days per month                      1.7150      2.083      0.823      0.410      -2.368       5.798
schedule_Decline to answer                                             29.8455     14.411      2.071      0.038       1.600      58.091
schedule_I usually only do 1 workout a day                            -18.4850      2.982     -6.199      0.000     -24.330     -12.640
howlong_4+ years                                                      110.5678      7.673     14.410      0.000      95.529     125.607
howlong_Less than 6 months                                            -60.8011      7.990     -7.610      0.000     -76.460     -45.142
howlong_6-12 months                                                   -10.1664      7.235     -1.405      0.160     -24.347       4.014
howlong_2-4 years                                                      88.0631      7.103     12.398      0.000      74.142     101.984
howlong_Decline to answer                                             115.8797     25.300      4.580      0.000      66.293     165.466
howlong_1-2 years                                                      47.9690      6.965      6.887      0.000      34.318      61.620
le_region                                                               1.9072      0.233      8.171      0.000       1.450       2.365
le_gender                                                             348.6126      3.303    105.546      0.000     342.139     355.086
==============================================================================
Omnibus:                     2471.626   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            11634.490
Skew:                          -0.389   Prob(JB):                         0.00
Kurtosis:                       6.273   Cond. No.                     9.64e+05
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)
[2] The condition number is large, 9.64e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [124]:
#get RMSE metric for testing sample
X_test_v2 = sm.add_constant(X_test_v2)
ypred_v2 = results_v2.predict(X_test_v2)
rmse_v2 = rmse(y_test_v2, ypred_v2)
print(rmse_v2)
r2_v2 = r2_score(y_test_v2, ypred_v2)
print(r2_v2)

152.23540685705967
0.7021793900004336